[Unit]
Description=SlickNat IPv6 NAT Daemon
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/slick-nat-daemon --config /etc/slnatcd/config
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target